@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Azure App Services - Git Hub Action In Effect For The Second Time.</h1>
</div>
